SpectreNetlistSource 0-518
  Simulator 0-23
    Keyword 0-9
    Keyword 10-14
    Notation 14-15
    Keyword 15-22
    Notation 22-23
  Parameters 23-40
    Keyword 23-33
    Parameter 34-39
      Identifier 34-37
      Notation 37-38
      NumberLiteral 38-39
    Notation 39-40
  Subckt 40-289
    Keyword 40-46
    Identifier 47-51
    SubcktNodes 52-57
      Notation 52-53
      SNode 53-54
        Identifier 53-54
      SNode 55-56
        Identifier 55-56
      Notation 56-57
    Notation 57-58
    Parameters 58-82
      Keyword 58-68
      Parameter 69-75
        Identifier 69-73
        Notation 73-74
        NumberLiteral 74-75
      Parameter 76-81
        Identifier 76-79
        Notation 79-80
        NumberLiteral 80-81
      Notation 81-82
    ConditionalBlock 82-279
      If 82-124
        Keyword 82-84
        Notation 85-86
        BinaryExpression 86-95
          Identifier 86-90
          Operator 91-93
          NumberLiteral 94-95
        Notation 95-96
        Notation 97-98
        Notation 98-99
        Instance 101-123
          Identifier 101-102
          SNodeList 103-108
            Notation 103-104
            SNode 104-105
              Identifier 104-105
            SNode 106-107
              Identifier 106-107
            Notation 107-108
          Identifier 109-117
          Parameter 118-122
            Identifier 118-119
            Notation 119-120
            NumberLiteral 120-122
          Notation 122-123
        Notation 123-124
      ElseIf 125-184
        Keyword 125-129
        Keyword 130-132
        Notation 133-134
        BinaryExpression 134-155
          BinaryExpression 134-143
            Identifier 134-138
            Operator 139-141
            NumberLiteral 142-143
          Operator 144-146
          BinaryExpression 147-155
            Identifier 147-150
            Operator 151-153
            NumberLiteral 154-155
        Notation 155-156
        Notation 157-158
        Notation 158-159
        Instance 161-183
          Identifier 161-162
          SNodeList 163-168
            Notation 163-164
            SNode 164-165
              Identifier 164-165
            SNode 166-167
              Identifier 166-167
            Notation 167-168
          Identifier 169-177
          Parameter 178-182
            Identifier 178-179
            Notation 179-180
            NumberLiteral 180-182
          Notation 182-183
        Notation 183-184
      ElseIf 185-245
        Keyword 185-189
        Keyword 190-192
        Notation 193-194
        BinaryExpression 194-215
          BinaryExpression 194-203
            Identifier 194-198
            Operator 199-201
            NumberLiteral 202-203
          Operator 204-206
          BinaryExpression 207-215
            Identifier 207-210
            Operator 211-213
            NumberLiteral 214-215
        Notation 215-216
        Notation 217-218
        Notation 218-219
        Instance 221-244
          Identifier 221-222
          SNodeList 223-228
            Notation 223-224
            SNode 224-225
              Identifier 224-225
            SNode 226-227
              Identifier 226-227
            Notation 227-228
          Identifier 229-237
          Parameter 238-243
            Identifier 238-239
            Notation 239-240
            NumberLiteral 240-243
          Notation 243-244
        Notation 244-245
      Else 246-278
        Keyword 246-250
        Notation 251-252
        Notation 252-253
        Instance 255-277
          Identifier 255-256
          SNodeList 257-262
            Notation 257-258
            SNode 258-259
              Identifier 258-259
            SNode 260-261
              Identifier 260-261
            Notation 261-262
          Identifier 263-271
          Parameter 272-276
            Identifier 272-273
            Notation 273-274
            NumberLiteral 274-276
          Notation 276-277
        Notation 277-278
      Notation 278-279
    Keyword 279-283
    Identifier 284-288
    Notation 288-289
  Instance 289-312
    Identifier 289-291
    SNodeList 292-298
      Notation 292-293
      SNode 293-295
        Identifier 293-295
      SNode 296-297
        NumberLiteral 296-297
      Notation 297-298
    Identifier 299-306
    Parameter 307-311
      Identifier 307-309
      Notation 309-310
      NumberLiteral 310-311
    Notation 311-312
  Instance 312-335
    Identifier 312-314
    SNodeList 315-322
      Notation 315-316
      SNode 316-318
        Identifier 316-318
      SNode 319-321
        Identifier 319-321
      Notation 321-322
    Identifier 323-327
    Parameter 328-334
      Identifier 328-332
      Notation 332-333
      NumberLiteral 333-334
    Notation 334-335
  Instance 335-359
    Identifier 335-337
    SNodeList 338-344
      Notation 338-339
      SNode 339-341
        Identifier 339-341
      SNode 342-343
        NumberLiteral 342-343
      Notation 343-344
    Identifier 345-353
    Parameter 354-358
      Identifier 354-355
      Notation 355-356
      NumberLiteral 356-358
    Notation 358-359
  Instance 359-382
    Identifier 359-361
    SNodeList 362-369
      Notation 362-363
      SNode 363-365
        Identifier 363-365
      SNode 366-368
        Identifier 366-368
      Notation 368-369
    Identifier 370-374
    Parameter 375-381
      Identifier 375-379
      Notation 379-380
      NumberLiteral 380-381
    Notation 381-382
  Instance 382-406
    Identifier 382-384
    SNodeList 385-391
      Notation 385-386
      SNode 386-388
        Identifier 386-388
      SNode 389-390
        NumberLiteral 389-390
      Notation 390-391
    Identifier 392-400
    Parameter 401-405
      Identifier 401-402
      Notation 402-403
      NumberLiteral 403-405
    Notation 405-406
  Instance 406-435
    Identifier 406-408
    SNodeList 409-416
      Notation 409-410
      SNode 410-412
        Identifier 410-412
      SNode 413-415
        Identifier 413-415
      Notation 415-416
    Identifier 417-421
    Parameter 422-428
      Identifier 422-426
      Notation 426-427
      NumberLiteral 427-428
    Parameter 429-434
      Identifier 429-432
      Notation 432-433
      NumberLiteral 433-434
    Notation 434-435
  Instance 435-459
    Identifier 435-437
    SNodeList 438-444
      Notation 438-439
      SNode 439-441
        Identifier 439-441
      SNode 442-443
        NumberLiteral 442-443
      Notation 443-444
    Identifier 445-453
    Parameter 454-458
      Identifier 454-455
      Notation 455-456
      NumberLiteral 456-458
    Notation 458-459
  Instance 459-486
    Identifier 459-461
    SNodeList 462-469
      Notation 462-463
      SNode 463-465
        Identifier 463-465
      SNode 466-468
        Identifier 466-468
      Notation 468-469
    Identifier 470-474
    Parameter 475-485
      Identifier 475-479
      Notation 479-480
      BinaryExpression 480-485
        Identifier 480-483
        Operator 483-484
        NumberLiteral 484-485
    Notation 485-486
  Instance 486-510
    Identifier 486-488
    SNodeList 489-495
      Notation 489-490
      SNode 490-492
        Identifier 490-492
      SNode 493-494
        NumberLiteral 493-494
      Notation 494-495
    Identifier 496-504
    Parameter 505-509
      Identifier 505-506
      Notation 506-507
      NumberLiteral 507-509
    Notation 509-510
  Analysis 510-518
    Identifier 510-514
    Keyword 515-517
    Notation 517-518
