SpectreNetlistSource 0-356
  Simulator 0-23
    Keyword 0-9
    Keyword 10-14
    Notation 14-15
    Keyword 15-22
    Notation 22-23
  Parameters 23-42
    Keyword 23-33
    Parameter 34-41
      Identifier 34-39
      Notation 39-40
      NumberLiteral 40-41
    Notation 41-42
  Subckt 42-110
    Keyword 42-48
    Identifier 49-53
    SubcktNodes 54-59
      Notation 54-55
      SNode 55-56
        Identifier 55-56
      SNode 57-58
        Identifier 57-58
      Notation 58-59
    Notation 59-60
    Parameters 60-76
      Keyword 60-70
      Parameter 71-75
        Identifier 71-72
        Notation 72-73
        NumberLiteral 73-75
      Notation 75-76
    Instance 78-100
      Identifier 78-80
      SNodeList 81-86
        Notation 81-82
        SNode 82-83
          Identifier 82-83
        SNode 84-85
          Identifier 84-85
        Notation 85-86
      Identifier 87-95
      Parameter 96-99
        Identifier 96-97
        Notation 97-98
        Identifier 98-99
      Notation 99-100
    Keyword 100-104
    Identifier 105-109
    Notation 109-110
  Subckt 110-199
    Keyword 110-116
    Identifier 117-121
    SubcktNodes 122-127
      Notation 122-123
      SNode 123-124
        Identifier 123-124
      SNode 125-126
        Identifier 125-126
      Notation 126-127
    Notation 127-128
    Parameters 128-145
      Keyword 128-138
      Parameter 139-144
        Identifier 139-141
        Notation 141-142
        NumberLiteral 142-144
      Notation 144-145
    Instance 147-166
      Identifier 147-149
      SNodeList 150-155
        Notation 150-151
        SNode 151-152
          Identifier 151-152
        SNode 153-154
          Identifier 153-154
        Notation 154-155
      Identifier 156-160
      Parameter 161-165
        Identifier 161-162
        Notation 162-163
        Identifier 163-165
      Notation 165-166
    Instance 168-189
      Identifier 168-170
      SNodeList 171-176
        Notation 171-172
        SNode 172-173
          Identifier 172-173
        SNode 174-175
          Identifier 174-175
        Notation 175-176
      Identifier 177-181
      Parameter 182-188
        Identifier 182-183
        Notation 183-184
        BinaryExpression 184-188
          Identifier 184-186
          Operator 186-187
          NumberLiteral 187-188
      Notation 188-189
    Keyword 189-193
    Identifier 194-198
    Notation 198-199
  Instance 199-222
    Identifier 199-201
    SNodeList 202-208
      Notation 202-203
      SNode 203-205
        Identifier 203-205
      SNode 206-207
        NumberLiteral 206-207
      Notation 207-208
    Identifier 209-216
    Parameter 217-221
      Identifier 217-219
      Notation 219-220
      NumberLiteral 220-221
    Notation 221-222
  Instance 222-250
    Identifier 222-224
    SNodeList 225-232
      Notation 225-226
      SNode 226-228
        Identifier 226-228
      SNode 229-231
        Identifier 229-231
      Notation 231-232
    Identifier 233-237
    Parameter 238-249
      Identifier 238-240
      Notation 240-241
      BinaryExpression 241-249
        NumberLiteral 241-243
        Operator 243-244
        Identifier 244-249
    Notation 249-250
  Instance 250-271
    Identifier 250-252
    SNodeList 253-259
      Notation 253-254
      SNode 254-256
        Identifier 254-256
      SNode 257-258
        NumberLiteral 257-258
      Notation 258-259
    Identifier 260-264
    Parameter 265-270
      Identifier 265-267
      Notation 267-268
      NumberLiteral 268-270
    Notation 270-271
  Instance 271-297
    Identifier 271-273
    SNodeList 274-282
      Notation 274-275
      SNode 275-277
        Identifier 275-277
      SNode 278-281
        Identifier 278-281
      Notation 281-282
    Identifier 283-291
    Parameter 292-296
      Identifier 292-293
      Notation 293-294
      NumberLiteral 294-296
    Notation 296-297
  Instance 297-323
    Identifier 297-299
    SNodeList 300-307
      Notation 300-301
      SNode 301-304
        Identifier 301-304
      SNode 305-306
        NumberLiteral 305-306
      Notation 306-307
    Identifier 308-317
    Parameter 318-322
      Identifier 318-319
      Notation 319-320
      NumberLiteral 320-322
    Notation 322-323
  Instance 323-348
    Identifier 323-325
    SNodeList 326-333
      Notation 326-327
      SNode 327-330
        Identifier 327-330
      SNode 331-332
        NumberLiteral 331-332
      Notation 332-333
    Identifier 334-342
    Parameter 343-347
      Identifier 343-344
      Notation 344-345
      NumberLiteral 345-347
    Notation 347-348
  Analysis 348-356
    Identifier 348-352
    Keyword 353-355
    Notation 355-356
