SpectreNetlistSource 0-255
  Simulator 0-23
    Keyword 0-9
    Keyword 10-14
    Notation 14-15
    Keyword 15-22
    Notation 22-23
  Parameters 23-56
    Keyword 23-33
    Parameter 34-39
      Identifier 34-37
      Notation 37-38
      NumberLiteral 38-39
    Parameter 40-48
      Identifier 40-45
      Notation 45-46
      NumberLiteral 46-48
    Parameter 49-55
      Identifier 49-53
      Notation 53-54
      NumberLiteral 54-55
    Notation 55-56
  Subckt 56-186
    Keyword 56-62
    Identifier 63-70
    SubcktNodes 71-76
      Notation 71-72
      SNode 72-73
        Identifier 72-73
      SNode 74-75
        Identifier 74-75
      Notation 75-76
    Notation 76-77
    Parameters 77-115
      Keyword 77-87
      Parameter 88-98
        Identifier 88-92
        Notation 92-93
        Identifier 93-98
      Parameter 99-114
        Identifier 99-103
        Notation 103-104
        BinaryExpression 104-114
          Identifier 104-109
          Operator 109-110
          Identifier 110-114
      Notation 114-115
    Instance 117-144
      Identifier 117-119
      SNodeList 120-127
        Notation 120-121
        SNode 121-122
          Identifier 121-122
        SNode 123-126
          Identifier 123-126
        Notation 126-127
      Identifier 128-136
      Parameter 137-143
        Identifier 137-138
        Notation 138-139
        Identifier 139-143
      Notation 143-144
    Instance 146-173
      Identifier 146-148
      SNodeList 149-156
        Notation 149-150
        SNode 150-153
          Identifier 150-153
        SNode 154-155
          Identifier 154-155
        Notation 155-156
      Identifier 157-165
      Parameter 166-172
        Identifier 166-167
        Notation 167-168
        Identifier 168-172
      Notation 172-173
    Keyword 173-177
    Identifier 178-185
    Notation 185-186
  Instance 186-211
    Identifier 186-188
    SNodeList 189-195
      Notation 189-190
      SNode 190-192
        Identifier 190-192
      SNode 193-194
        NumberLiteral 193-194
      Notation 194-195
    Identifier 196-203
    Parameter 204-210
      Identifier 204-206
      Notation 206-207
      Identifier 207-210
    Notation 210-211
  Instance 211-229
    Identifier 211-213
    SNodeList 214-220
      Notation 214-215
      SNode 215-217
        Identifier 215-217
      SNode 218-219
        NumberLiteral 218-219
      Notation 219-220
    Identifier 221-228
    Notation 228-229
  Instance 229-247
    Identifier 229-231
    SNodeList 232-238
      Notation 232-233
      SNode 233-235
        Identifier 233-235
      SNode 236-237
        NumberLiteral 236-237
      Notation 237-238
    Identifier 239-246
    Notation 246-247
  Analysis 247-255
    Identifier 247-251
    Keyword 252-254
    Notation 254-255
