SpectreNetlistSource 0-399
  Simulator 0-23
    Keyword 0-9
    Keyword 10-14
    Notation 14-15
    Keyword 15-22
    Notation 22-23
  Parameters 23-56
    Keyword 23-33
    Parameter 34-39
      Identifier 34-37
      Notation 37-38
      NumberLiteral 38-39
    Parameter 40-48
      Identifier 40-45
      Notation 45-46
      NumberLiteral 46-48
    Parameter 49-55
      Identifier 49-53
      Notation 53-54
      NumberLiteral 54-55
    Notation 55-56
  Subckt 56-175
    Keyword 56-62
    Identifier 63-70
    SubcktNodes 71-76
      Notation 71-72
      SNode 72-73
        Identifier 72-73
      SNode 74-75
        Identifier 74-75
      Notation 75-76
    Notation 76-77
    Parameters 77-104
      Keyword 77-87
      Parameter 88-95
        Identifier 88-92
        Notation 92-93
        NumberLiteral 93-95
      Parameter 96-103
        Identifier 96-100
        Notation 100-101
        NumberLiteral 101-103
      Notation 103-104
    Instance 106-133
      Identifier 106-108
      SNodeList 109-116
        Notation 109-110
        SNode 110-111
          Identifier 110-111
        SNode 112-115
          Identifier 112-115
        Notation 115-116
      Identifier 117-125
      Parameter 126-132
        Identifier 126-127
        Notation 127-128
        Identifier 128-132
      Notation 132-133
    Instance 135-162
      Identifier 135-137
      SNodeList 138-145
        Notation 138-139
        SNode 139-142
          Identifier 139-142
        SNode 143-144
          Identifier 143-144
        Notation 144-145
      Identifier 146-154
      Parameter 155-161
        Identifier 155-156
        Notation 156-157
        Identifier 157-161
      Notation 161-162
    Keyword 162-166
    Identifier 167-174
    Notation 174-175
  Instance 175-200
    Identifier 175-177
    SNodeList 178-184
      Notation 178-179
      SNode 179-181
        Identifier 179-181
      SNode 182-183
        NumberLiteral 182-183
      Notation 183-184
    Identifier 185-192
    Parameter 193-199
      Identifier 193-195
      Notation 195-196
      Identifier 196-199
    Notation 199-200
  Instance 200-218
    Identifier 200-202
    SNodeList 203-209
      Notation 203-204
      SNode 204-206
        Identifier 204-206
      SNode 207-208
        NumberLiteral 207-208
      Notation 208-209
    Identifier 210-217
    Notation 217-218
  Instance 218-244
    Identifier 218-220
    SNodeList 221-227
      Notation 221-222
      SNode 222-224
        Identifier 222-224
      SNode 225-226
        NumberLiteral 225-226
      Notation 226-227
    Identifier 228-235
    Parameter 236-243
      Identifier 236-240
      Notation 240-241
      NumberLiteral 241-243
    Notation 243-244
  Instance 244-277
    Identifier 244-246
    SNodeList 247-253
      Notation 247-248
      SNode 248-250
        Identifier 248-250
      SNode 251-252
        NumberLiteral 251-252
      Notation 252-253
    Identifier 254-261
    Parameter 262-276
      Identifier 262-266
      Notation 266-267
      BinaryExpression 267-276
        Identifier 267-272
        Operator 272-273
        NumberLiteral 273-276
    Notation 276-277
  Instance 277-327
    Identifier 277-279
    SNodeList 280-286
      Notation 280-281
      SNode 281-283
        Identifier 281-283
      SNode 284-285
        NumberLiteral 284-285
      Notation 285-286
    Identifier 287-294
    Parameter 295-310
      Identifier 295-299
      Notation 299-300
      BinaryExpression 300-310
        Identifier 300-305
        Operator 305-306
        Identifier 306-310
    Parameter 311-326
      Identifier 311-315
      Notation 315-316
      BinaryExpression 316-326
        Identifier 316-321
        Operator 321-322
        Identifier 322-326
    Notation 326-327
  Instance 327-353
    Identifier 327-329
    SNodeList 330-338
      Notation 330-331
      SNode 331-332
        NumberLiteral 331-332
      SNode 333-337
        Identifier 333-337
      Notation 337-338
    Identifier 339-346
    Parameter 347-352
      Identifier 347-349
      Notation 349-350
      NumberLiteral 350-352
    Notation 352-353
  Instance 353-391
    Identifier 353-355
    SNodeList 356-364
      Notation 356-357
      SNode 357-361
        Identifier 357-361
      SNode 362-363
        NumberLiteral 362-363
      Notation 363-364
    Identifier 365-373
    Parameter 374-390
      Identifier 374-375
      Notation 375-376
      BinaryExpression 376-390
        Identifier 376-381
        Operator 381-382
        Parens 382-390
          Notation 382-383
          BinaryExpression 383-389
            Identifier 383-387
            Operator 387-388
            NumberLiteral 388-389
          Notation 389-390
    Notation 390-391
  Analysis 391-399
    Identifier 391-395
    Keyword 396-398
    Notation 398-399
