SpectreNetlistSource 0-367
  Simulator 0-23
    Keyword 0-9
    Keyword 10-14
    Notation 14-15
    Keyword 15-22
    Notation 22-23
  Parameters 23-43
    Keyword 23-33
    Parameter 34-42
      Identifier 34-39
      Notation 39-40
      NumberLiteral 40-42
    Notation 42-43
  Subckt 43-133
    Keyword 43-49
    Identifier 50-53
    SubcktNodes 54-59
      Notation 54-55
      SNode 55-56
        Identifier 55-56
      SNode 57-58
        Identifier 57-58
      Notation 58-59
    Notation 59-60
    Parameters 60-76
      Keyword 60-70
      Parameter 71-75
        Identifier 71-72
        Notation 72-73
        NumberLiteral 73-75
      Notation 75-76
    Instance 78-100
      Identifier 78-80
      SNodeList 81-86
        Notation 81-82
        SNode 82-83
          Identifier 82-83
        SNode 84-85
          Identifier 84-85
        Notation 85-86
      Identifier 87-95
      Parameter 96-99
        Identifier 96-97
        Notation 97-98
        Identifier 98-99
      Notation 99-100
    Instance 102-124
      Identifier 102-104
      SNodeList 105-110
        Notation 105-106
        SNode 106-107
          Identifier 106-107
        SNode 108-109
          Identifier 108-109
        Notation 109-110
      Identifier 111-119
      Parameter 120-123
        Identifier 120-121
        Notation 121-122
        Identifier 122-123
      Notation 123-124
    Keyword 124-128
    Identifier 129-132
    Notation 132-133
  Subckt 133-268
    Keyword 133-139
    Keyword 140-146
    Identifier 147-151
    SubcktNodes 152-157
      Notation 152-153
      SNode 153-154
        Identifier 153-154
      SNode 155-156
        Identifier 155-156
      Notation 156-157
    Notation 157-158
    Parameters 158-176
      Keyword 158-168
      Parameter 169-175
        Identifier 169-173
        Notation 173-174
        NumberLiteral 174-175
      Notation 175-176
    ConditionalBlock 176-258
      If 176-220
        Keyword 176-178
        Notation 179-180
        BinaryExpression 180-188
          Identifier 180-184
          Operator 185-186
          NumberLiteral 187-188
        Notation 188-189
        Notation 190-191
        Notation 191-192
        Instance 194-219
          Identifier 194-198
          SNodeList 199-204
            Notation 199-200
            SNode 200-201
              Identifier 200-201
            SNode 202-203
              Identifier 202-203
            Notation 203-204
          Identifier 205-213
          Parameter 214-218
            Identifier 214-215
            Notation 215-216
            NumberLiteral 216-218
          Notation 218-219
        Notation 219-220
      Else 221-257
        Keyword 221-225
        Notation 226-227
        Notation 227-228
        Instance 230-256
          Identifier 230-234
          SNodeList 235-240
            Notation 235-236
            SNode 236-237
              Identifier 236-237
            SNode 238-239
              Identifier 238-239
            Notation 239-240
          Identifier 241-249
          Parameter 250-255
            Identifier 250-251
            Notation 251-252
            NumberLiteral 252-255
          Notation 255-256
        Notation 256-257
      Notation 257-258
    Keyword 258-262
    Identifier 263-267
    Notation 267-268
  Instance 268-291
    Identifier 268-270
    SNodeList 271-277
      Notation 271-272
      SNode 272-274
        Identifier 272-274
      SNode 275-276
        NumberLiteral 275-276
      Notation 276-277
    Identifier 278-285
    Parameter 286-290
      Identifier 286-288
      Notation 288-289
      NumberLiteral 289-290
    Notation 290-291
  Instance 291-314
    Identifier 291-293
    SNodeList 294-301
      Notation 294-295
      SNode 295-297
        Identifier 295-297
      SNode 298-300
        Identifier 298-300
      Notation 300-301
    Identifier 302-306
    Parameter 307-313
      Identifier 307-311
      Notation 311-312
      NumberLiteral 312-313
    Notation 313-314
  Instance 314-337
    Identifier 314-316
    SNodeList 317-324
      Notation 317-318
      SNode 318-320
        Identifier 318-320
      SNode 321-323
        Identifier 321-323
      Notation 323-324
    Identifier 325-329
    Parameter 330-336
      Identifier 330-334
      Notation 334-335
      NumberLiteral 335-336
    Notation 336-337
  Instance 337-359
    Identifier 337-339
    SNodeList 340-346
      Notation 340-341
      SNode 341-343
        Identifier 341-343
      SNode 344-345
        NumberLiteral 344-345
      Notation 345-346
    Identifier 347-350
    Parameter 351-358
      Identifier 351-352
      Notation 352-353
      Identifier 353-358
    Notation 358-359
  Analysis 359-367
    Identifier 359-363
    Keyword 364-366
    Notation 366-367
